/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

container body-content {
    width: 60%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



@import "compass/css3";

container body-content .table-editable {
    position: relative;
    .glyphicon

{
    font-size: 20px;
}

}

container body-content .table-remove {
    color: #700;
    cursor: pointer;
    &:hover

{
    color: #f00;
}

}

container body-content .table-up, .table-down {
    color: #007;
    cursor: pointer;
    &:hover

{
    color: #00f;
}

}

container body-content .table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    &:hover {
    color: #0b0;
   }
}
