@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/SareptaCover.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Consultorio Odontologico Sarepta
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Sarepta_Consultory.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Odontologia Integral para todos
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Sarepta_instruments.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Una sonrisa dice mas que mil palabras
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Dra. ALma Lizcano</h2>
        <ul>
            <li>Profesional egresada de la <a href="http://www.ustabuca.edu.co/">Universidad Santo Tomas de Aquino.</a></li>
            <li>Profesional con mas de 20 años de experiencia.</li>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Atencion Para Todos</h2>
        <ul>
            <li>Tu procedimiento es realizado en su totalidad por la Dra. Alma Lizcano</li>
            <li>Atencion para niños, jovenes y adultos</li>
            <li>Atencion especializada y a domicilio para adultos mayores o personas con problemas de movilidad.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Puntos de Atencion</h2>
        <p>Te podemos asesorar en las siguientes sedes acorde a tus necesidades en la ciudad de Bogota</p>
        <ul>
            <li>cra 15 # 76-42 Al lado de Unilago</li>
            <li>cra 15 # 126-38 consultorio 302, Edificio XXXX al frente del centro comercial Unicentro</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Precios Especiales</h2>
        <ul>
            <li>Facilidad de Pago</li>
            <li>Precios competitivos para un servicio de alta calidad</li>            
        </ul>
    </div>
</div>
